[2019-06-17 22:39] leecalcote opened #1 "Improve support for Consul deployments on clusters with less than 3 nodes"
**Issue:** A Consul deployment on a cluster with less than three nodes finds "consul-server" pods stuck in a Pending state.

Example of a two node system:

[code]

The consul servers fail to start:

[code]

**Request:** Provide flag to nullify "consul-server"s Pod anti-affinity requirement at https://github.com/layer5io/meshery-consul/blob/master/consul/config_templates/consul.yaml#L615.

@nichola

[2019-07-29 16:02] girishranganathan opened #2 "Update consul adapter yaml to use the latest version of consul"
**Describe the issue**
Consul adapter was created right before KubeCon EU 2019. After that we have not updated the adapter to use the latest updates in Consul.

The file which will need update is https://github.com/layer5io/meshery-consul/blob/master/consul/config_templates/consul.yaml

[2019-09-11 01:25] leecalcote opened #6 "Add issue templates: bug and enhancement"
Create two issue templates in the *meshery-consul* repo by copying the meshery repo's [issue templates](https://github.com/layer5io/meshery/tree/master/.github/ISSUE_TEMPLATE).

[2019-09-14 17:40] #6 closed

[2019-09-14 17:41] gunjanmimo commented on #6
i completed

[2019-09-17 15:40] leecalcote opened #8 "Eliminate Consul Adapter code check (lint) failures"
*Description:*
The Meshery adapter for Consul is failing lint checks when building. Currently, these checks are not passing:

[code]

**Expected Behavior**
All lint checks should pass.

See an example of these failures here - https://github.com/layer5io/meshery-consul/pull/7/checks?check_run_id=218292837

[2019-09-17 17:40] leecalcote commented on #6
Partially fixed by #10.

[2019-09-17 17:41] leecalcote commented on #6
Completely closed by #9 and #11.

[2019-10-01 11:23] leecalcote opened #15 "Create contributing.md in Meshery-consul repo"
**Issue Description**
Create contributing.md that points to the central contributing.md in the Meshery repo.

Create a stub CONTRIBUTING.md in each of the repos that essentially say:
“You want to contribute to the project? Yay! We want you to! Visit our centralized instructions for contributing.", where the “contributing” is a hyperlink to the CONTRIBUTING.md in the main meshery repo.

**Future Ef

[2019-10-09 03:18] leecalcote commented on #15
@subhamkrai did we miss this one?

[2019-10-14 14:22] leecalcote commented on #15
Thanks, @subhamkrai

[2019-10-14 14:22] #15 closed

[2019-10-27 22:26] leecalcote opened #20 "README: Add hyperlinks to badges"
**Description**
Some of the badges in this repos readme are missing informative hyperlinks.

**Desired Behavior**
The badges (and their links) that are used in the [Meshery repo's README](https://github.com/layer5io/meshery/blob/master/README.md) are a great example of how the badges in this repo can be improved.

[2019-10-28 00:24] lmilekic commented on #20
Seems like my PR is hitting some build issues, are those lint failures expected? 😄

[2019-10-28 00:38] leecalcote commented on #20
@lmilekic great question. Yes, those are pre-existing issues that hopefully other contributors are working on knocking out. Your help on this issue (and any others) is most appreciated!

// @ashiscs @gunjanmimo

[2019-10-28 00:38] #20 closed

[2019-10-28 00:39] leecalcote commented on #20
Related lint issue - https://github.com/layer5io/meshery-consul/issues/8

[2019-10-28 23:52] leecalcote commented on #8
@jesuslerma, we would love to have you jump in here.  // @girishranganathan

Here are this adapter's latest lint issues - https://github.com/layer5io/meshery-consul/commit/32678173563189cec6a59d0238ef57776cb9cf40/checks?check_suite_id=283639511#step:4:129

[2019-10-29 12:21] leecalcote commented on #8
Fixed by #22

[2019-10-29 12:24] leecalcote commented on #8
@gunjanmimo will you take another look at the changes here? The Docker build is failing - https://github.com/layer5io/meshery-consul/runs/279310972#step:5:256

[2019-10-30 12:39] gunjanmimo commented on #8
fixes #22

[2019-10-30 12:39] #8 closed

[2019-11-01 12:19] leecalcote opened #24 "Update logo in README"
**Current State:**
The Meshery logo used in the [README](https://github.com/layer5io/meshery-consul/blob/master/README.md) is outdated.

**Desired State:**
Use the new logo as seen in https://github.com/layer5io/meshery-istio's README.

[2019-12-20 18:36] #24 closed

[2020-01-03 23:20] leecalcote opened #29 "Builds: Static and Error checking of Go code"
**Enhancement Description**
In order to facilitate coding best practices, this adapter's code should have static analysis and error checking run as part of its build process.

**Chore Description**
Using the meshery-istio adapter's Actions workflow as an example, enable [Static and Error checks](https://github.com/layer5io/meshery-istio/blob/master/.github/workflows/ci.yml#L26-L51) in this reposit

[2020-01-03 23:25] leecalcote opened #30 "Copy "Docs" GitHub issue template to Consul adapter repo"
**Description**
The Layer5 community's GitHub issue template for documentation is missing in this repo.

**Expected Behavior**
The meshery-consul repo should contain the [documentation issue template](https://raw.githubusercontent.com/layer5io/meshery-octarine/master/.github/ISSUE_TEMPLATE/documentation.md) in the [ISSUE_TEMPLATE](../tree/master/.github/ISSUE_TEMPLATE) folder.

[2020-01-03 23:26] leecalcote commented on #30
@hdelacru, if you're inclined you might choose to take a crack at this issue.

[2020-01-05 05:40] #30 closed

[2020-03-16 16:56] #29 closed

[2020-03-17 02:10] leecalcote opened #34 "Fix static and error checks"
**Description**
The current build has failing error checks and failing static checks.

**Expected Behavior**
All build checks should be passing.

[2020-03-23 18:11] leecalcote opened #37 "[Install] Use helm to deploy Consul 1.9.1"
**Enhancement Description**
The Consul deployment process uses Kubernetes manifests currently.

**Related Challenges**
Helm is a more robust way of deploying Consul and will offer easier ways to allow the user to configure their Consul deployment. Not all, but some other Meshery adapters benefit from use of helm deployments (shared code here may be useful).

**Resources**
- https://learn.hashicorp

[2020-03-26 02:16] leecalcote opened #39 "[Sample App] Support deployment of Consul sample app"
**Enhancement Description**
Each service mesh generally has one or more associated sample applications that can be used to demonstrate the power of the given service mesh. Consul uses https://github.com/hashicorp/consul-k8s-l7-obs-guide as a sample application.

**Desired Behavior**
The Consul adapter currently supports deploying sample applications from other service meshes. It should support the

[2020-03-26 02:20] leecalcote opened #40 "[Configuration] Update Agents to Communicate with TLS"
**Enhancement Description**
Meshery adapters facilitate service mesh configuration. Consul deployments may be configured to enforce TLS between agents.

**Desired Behavior**
The Meshery adapter for Consul should support the post-deployment configuration of making [agents to communicate with TLS](https://learn.hashicorp.com/consul/day-2-agent-authentication/update-certificates).

[2020-03-26 02:22] leecalcote opened #41 "[Deployment Configuration] Consul Connect Injection Security"
**Enhancement Description**
Meshery adapters facilitate service mesh configuration. Consul deployments may be configured to enforce TLS between agents.

**Desired Behavior**
The Meshery adapter for Consul should support the deployment configuration [sidecar injection for authentication with Kubernetes service](https://learn.hashicorp.com/consul/kubernetes/kubernetes-deployment-guide#consul-connect

[2020-03-26 02:26] leecalcote opened #42 "[Configuration] Service segmentation with intentions"
**Enhancement Description**
Meshery adapters facilitate service mesh configuration. Consul deployments may be configured with intentions to define which services are allowed communicate with which other services.

**Desired Behavior**
The Meshery adapter for Consul should support the configuration of intentions to define which [services are allowed communicate with which other service](https://lea

[2020-03-26 02:28] leecalcote opened #43 "[Configuration] Day 2 operations of Consul server with Autopilot"
**Enhancement Description**
Meshery adapters facilitate service mesh configuration. Consul deployments may be configured with Autopilot running to allow for automatic, operator-friendly management of Consul servers. Autopilot includes cleanup of dead servers, monitoring the state of the Raft cluster, and stable server introduction.

**Desired Behavior**
The Meshery adapter for Consul should suppor

[2020-03-26 02:31] leecalcote opened #44 "[Configuration] Secure Service-to-Service Communication"
**Enhancement Description**
Meshery adapters facilitate service mesh configuration. Consul deployments may be configured to secure service-to-service communication with authorization and encryption.

**Desired Behavior**
The Meshery adapter for Consul should support the [automatic establishment of TLS connections](https://learn.hashicorp.com/consul/developer-mesh/connect-services) for inbound and

[2020-03-26 02:34] leecalcote opened #45 "[Validation] Configuration best practices"
**Enhancement Description**
Meshery adapters facilitate service mesh configuration. Consul deployments may be configured in any number of ways. There are best practices of deploying Consul that a deployment should be checked against.

**Desired Behavior**
The Meshery adapter for Consul should provide support for validating the current Consul deployment against [best practices](https://github.com/h

[2020-03-26 02:37] leecalcote opened #46 "[Install] Support deployment of GA and beta release channels and version #"
**Enhancement Description**
Meshery adapters facilitate service mesh configuration. Consul deployments may be performed using the “GA” and the “beta” versions of Consul and different versions of those channels.

**Desired Behavior**
The Meshery adapter for Consul should support the option of allowing users to choose [what release channel and what release version](https://releases.hashicorp.com/con

[2020-03-26 02:41] leecalcote opened #47 "[Performance] Incorporate Meshery and test publishing into Consul release process."
**Enhancement Description**
Incorporate Meshery into Consul release process as universal performance measure.
**Desired Behavior**
- Test configurations defined by HashiCorp.
- Test results published to Meshery Cloud.

[2020-05-26 16:05] leecalcote opened #58 "[App] Add Image Hub as a sample app"
**Enhancement Description**
A new sample app is available as a workload on Consul. The name of this app is Image Hub - https://github.com/layer5io/image-hub. This app should be available through the Consul adapter.

[2020-05-26 16:26] kanishkarj commented on #58
I'll take this up.

[2020-05-27 08:00] kanishkarj commented on #58
I think something we'll need here before implementing this is for consul install to accept a helm config. We might want to do this with other adapters too.

Any thoughts on this @lee?

[2020-05-27 08:15] leecalcote commented on #58
@kanishkarj Yes, you’re right. Helm and as a universal capability.

@Aisuko do you have an update on progress here?  // @nveenjain

@kanishkarj for now, assume that helm or other is already in place.

[2020-05-27 23:56] leecalcote opened #59 "[Docs] Improve the docs for Consul adapter"
**Current State:**
The [meshery-consul docs](https://meshery.layer5.io/docs/service-meshes/adapters/consul) are missing a description of many of the capabilities of the adapter.

**Desired State:**
The docs should be well-written and robust.

---
**Contributor Resources**

- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/m

[2020-05-28 02:51] Aisuko commented on #58
Yep, we already have a project for using Helm to render the chart to Kubernetes manifest(Includes  Linkerd and Consul). In my case, I have another though is may we use Helm client to deploy the chart? Because we use client-go create resource one-by-one may not good for debugging what's going on

[2020-05-28 16:58] leecalcote commented on #59
An improvement made. More to come.

[2020-06-14 08:46] kushthedude commented on #58
@kanishkarj Is this issue addressed ?

[2020-06-14 08:48] kanishkarj commented on #58
Kind of, the pr referencing this has been closed. But there is still one issue to address, that is how deployment of consul with custom helm config. @Aisuko might throw more light on this.

[2020-06-14 08:49] kanishkarj commented on #58
@Aisuko, I personally do feel we should use helm client to deploy consul, and any service mesh that supports helm. It makes maintanence easier. @leecalcote  thoughts on this?

[2020-06-14 08:51] kushthedude commented on #58
@kanishkarj https://github.com/layer5io/meshery-consul/issues/37 is this the issue that is left to be addressed ?

[2020-06-14 08:52] kanishkarj commented on #58
Yes, that's the exact issue.

[2020-06-14 08:54] kushthedude opened #61 "Change the status badge in readme with the current workflow"
**Description**
Right now, CI-Status badge shows actions as failing but that job is deprecated & we have renamed our ci action.

**Expected Behavior**
Change the current badge with this badge:

![Meshery Consul](https://github.com/layer5io/meshery-consul/workflows/Meshery%20Consul/badge.svg)
[code]

[2020-06-15 03:34] Aisuko commented on #58
For sure, we should do this with Helm v3

[2020-06-15 04:56] leecalcote commented on #58
@Aisuko yes, I agree. While there are other possible approaches (i.e. Shipyard) under consideration in the future, ‘helm’ is what we have here and now. Yes, please proceed.

[2020-06-16 18:44] #61 closed

[2020-07-02 01:36] leecalcote opened #64 "[CI] Push to Docker Hub only in presence of Release Tag"
**Currently Behavior**
A copy of Meshery-consul is "released" with every merge to `master` branch.

**Desired Behavior**
Update ci.yml to only push docker images in the presence of a release tag. Tag docker images akin to the method used for `learn-layer5` with a slight tweak: prefix each release tag with the word "stable".

**Example**
_Image 1_
- layer5/meshery-consul:stable-latest
- layer5/mesh

[2020-07-03 03:20] #64 closed

[2020-07-03 03:21] leecalcote opened #66 "[Release] Initialize "stable-latest" tag with release v0.3.17 for Consul adapter"

[2020-07-04 21:04] leecalcote opened #67 "[CI] Release v0.3.17 of Consul adapter"

[2020-07-04 21:04] leecalcote commented on #67
Released-https://github.com/layer5io/meshery-consul/releases/tag/v0.3.17

[2020-07-04 21:04] #67 closed

[2020-07-04 21:04] leecalcote commented on #66
Initialized - https://hub.docker.com/layers/layer5/meshery-consul/stable-v0.3.17/images/sha256-75cf0f985554b5911150b4de8f6597c0094d96c6892b4ca11a9ad3003e591474?context=explore

[2020-07-04 21:04] #66 closed

[2020-08-09 15:03] mgfeller commented on #2
Looks like this file was generated using Helm.
Which value file was used?

[2020-08-09 20:14] leecalcote commented on #2
@Blake might some insight here.

[2020-08-10 04:42] leecalcote opened #70 "[CI] Setup ReleaseDrafter"
**Current Situation**
The [ReleaseDrafter](https://github.com/marketplace/actions/release-drafter) utility (GitHub Action) is not configured in this repository.

**Desired Situation**
- Releasedrafter should be configured to execute whenever a PR is merged to master in this repo.

**Implementation**
- Copy the [releasedrafter config](https://github.com/layer5io/meshery/blob/master/.github/release-

[2020-08-10 04:44] leecalcote commented on #70
@mgfeller you're so right about the project to refactor adapters being a bigger bite than should be naturally taken for anyone fresh to the projects here.

I'm pointing out this issue as one that you might consider taking up. I figure that while you're getting warmed up to the Meshery adapter for Consul, that you might entertain this small item as a good way of getting into the contribution flow.

[2020-08-10 20:13] mgfeller commented on #70
@leecalcote thanks, that's a good start, I can do that :-)

It is all a matter of (available) time :-)

[2020-08-10 20:30] mgfeller commented on #2
I can figure it out. Although, is it important to look at the old parametrization?

Do we have some guidelines for the parametrization of the meshes that are deployed?
For instance, should they be production ready, or is ease of exploring (e.g. working through tutorials) better suited? Should it be based on (one of) the default/example configs of the distribution?

Also, could a requirement be tha

[2020-08-14 20:06] mgfeller commented on #1
I suggest we close this issue and incorporate the fix in #2 , setting both server.replicas and server.bootstrapExpect to 1 in the Helm values file used to generate the manifests.

[2020-08-16 16:45] mgfeller opened #72 "[App] Update the Deployment version in httpbin-consul.yaml"
**Current Situation**

Applying http-bin.yaml to the cluster gives the following error:

[code]

**Desired Situation**

Applying http-bin.yaml to the cluster is successful.

**Implementation**

This Deployment version was deprecated and no longer works in recent versions of k8s (e.g. 1.16).
Specify apiVersion: apps/v1 and modify the template, a label selector field needed.

[2020-08-16 16:50] mgfeller opened #73 "[App] Update the Deployment version in bookinfo.yaml"
**Current Situation**

Applying http-bin.yaml to the cluster gives the following error:

[code]

**Desired Situation**

Applying bookinfo.yaml to the cluster is successful.

**Implementation:**

This Deployment version was deprecated and no longer works in recent versions of k8s (e.g. 1.16).
Specify apiVersion: apps/v1 and modify the template, a label selector field needed.

[2020-08-18 08:44] #70 closed

[2020-08-18 08:54] leecalcote opened #74 "Add Layer5 Welcome bot to the Meshery adapter for Consul repository"
**Current Situation**
A welcome bot has been configured to usher in contributors new to this project. Configuration of this welcome bot is missing from the `meshery-consul` repository, however.

**Desired Situation**
The [config.yml](https://github.com/layer5io/meshery/blob/master/.github/config.yml) and the [`welcome` folder](https://github.com/layer5io/meshery/tree/master/.github/welcome) along

[2020-08-18 09:02] leecalcote opened #75 "[Chore] Refresh issue templates"
**Description**
The [issue templates](https://github.com/layer5io/meshery-consul/tree/master/.github/ISSUE_TEMPLATE) are stale and need refreshed with a newer copy from the `meshery` repo.

**Implementation**
1. Copy the issues templates from the [.github/ISSUE_TEMPLATE]((https://github.com/layer5io/meshery/tree/master/.github/ISSUE_TEMPLATE)) folder in the `meshery` repo to the [ISSUE_TEMPLATE fo

[2020-08-18 09:55] #74 closed

[2020-08-18 11:42] tory-brown commented on #75
I want to take this up

[2020-08-18 11:43] Ruth-ikegah commented on #75
sure @tory-brown !

[2020-08-19 06:39] mgfeller commented on #2
### Testing

* deploy Consul Connect to a cluster, use a namespace other than default or consul
* the Consul UI is activated, access it and check the Consul version in the footer, it should be current, >= 1.8.0
* alternatively, use `kubectl get -n <namespace> statefulset/consul-consul-server -o jsonpath='{.spec.template.spec.containers[0].image}'` to get the consul image and its version
* deploy a

[2020-08-19 09:36] blake commented on #2
For instance, should they be production ready, or is ease of exploring (e.g. working through tutorials) better suited? Should it be based on (one of) the default/example configs of the distribution?

If you're looking for a basic config that can be deployed on one host (not recommended for prod) with most production features enabled, then you can use something like this.

1. Generate an encryption

[2020-08-19 16:29] mgfeller commented on #2
@blake thanks, that is really helpful!

Yes, I'm looking for a basic configuration like this.

I think the adapter needs some changes in order to support this configuration with ACLs enabled, I'll look into that and create an issue.

In the meantime, I work on using a configuration similar to yours, with UI enabled, and without gossip encryption.

[2020-08-20 09:04] PluckyPrecious opened #80 "Add Layer5 Welcome bot to the Meshery adapter for Consul repository"
**Current Behavior**
 A welcome bot has been configured to usher in contributors new to this project. Configuration of this welcome bot is missing from the `meshery-consul` repository, however.

**Desired Behavior**
 The [config.yml](https://github.com/layer5io/meshery/blob/master/.github/config.yml) and the [welcome folder](https://github.com/layer5io/meshery/tree/master/.github/welcome) along wi

[2020-08-20 09:13] PluckyPrecious commented on #80
Hello @tonyanant here's the issue @leecalcote is talking about, would you mind

[2020-08-20 09:13] #80 closed

[2020-08-23 12:08] mgfeller opened #82 "[CI] Trigger 'Meshery Consul' workflow also on pushes to branches with '/' in their name."
**Current Behavior**

Pushing to a branch whose name contain slashes '/' does not trigger the ci workflow, 'Meshery Consul'. Our naming convention for branches includes '/', e.g. feature/jdoe/24.

**Desired Behavior**

It is desired that the ci workflow 'Meshery Consul' is triggered when pushing changes to all branches. This ensures that checks are performed and issues caught before a PR is create

[2020-08-24 20:04] PluckyPrecious commented on #75
Hi @tory-brown, situation report please. Are you still up for this issue or we should go with the PR made to this effect?

[2020-08-25 07:20] tory-brown commented on #75
@PluckyPrecious i got a message that it was merged. already worked on it

[2020-08-25 07:55] PluckyPrecious commented on #75
@tory-brown it was closed because you’re already assigned, do you wish to go ahead?

[2020-08-25 08:18] Ruth-ikegah commented on #75
Hi @PluckyPrecious it has been fixed, this repo doesn't have a PR template to reference the issue number so it didn't automatically close when her PR was merged. So I'd go ahead and close the issue

[2020-08-25 08:18] #75 closed

[2020-08-25 19:18] #82 closed

[2020-08-27 06:49] mgfeller opened #85 "[Install] Make the name of the installConsulCommand operation more descriptive"
**Current Behavior**

The current name is ""Latest version of Consul with sidecar injector"

**Desired Behavior**

It would be useful to have a name that describes the configuration, in this case that it is an unsecured configuration for one node.
Also, "Latest version" might be removed, because it quickly isn't.
Suggestions
- "Consul Connect (unsecured, 1 server)"
- "Consul Connect - unsecured /

[2020-08-27 06:54] mgfeller commented on #85
We could also add the version of Consul to the name, but then we'd always have to remember to update the name.

[2020-08-27 15:34] Ruth-ikegah opened #86 "Add PULL_REQUEST_TEMPLATE.md"
**Current Behavior**

This repository does not have a Pull request template just like our other repositories have. You can have a look at the [Layer5 repo](https://github.com/layer5io/layer5/blob/master/.github/PULL_REQUEST_TEMPLATE.md) to know what a PR template looks like.

**Desired Behavior**

Navigate to the .github folder and create a new file PULL_REQUEST_TEMPLATE.md, copy the contents of t

[2020-08-27 15:55] Akash-Gupta-Sudo commented on #86
I am working on this issue.

[2020-08-27 17:52] Ruth-ikegah commented on #86
Nice @Akash-Gupta-Sudo ! You have been assigned to it

[2020-08-27 22:53] #86 closed

[2020-08-27 22:55] #1 closed

[2020-08-28 16:19] mgfeller commented on #2
Fixed via #81

[2020-08-28 16:19] #2 closed

[2020-08-28 19:48] #73 closed

[2020-08-28 19:49] #72 closed

[2020-08-29 06:45] mgfeller commented on #85
If the version is parameterized in a config file, it could be reused also in the description.

[2020-08-29 17:47] mgfeller opened #91 "[CI] Migrate to golangci-lint"
**Current Behavior**

Right now, some of the checks in ci.yaml are commented out.
Also, the Makefile doesn't have any target for running checks.
Otherwise, same as mentioned in https://github.com/layer5io/meshery/issues/1050

**Desired Behavior**

Replace the current linter & error checker with golang-ci-lint.
Add one or several targets in Makefile to run checks.

Follow best practice from https:/

[2020-08-30 12:14] #91 closed

[2020-08-31 23:01] #85 closed

[2020-09-12 15:43] mgfeller opened #94 "[CI] Add some basic end-to-end tests"
**Current Behavior**

Currently, there are no automatic tests that help make refactoring safe(r). Testing has to be performed manually.

**Desired Behavior**

A basic set of simple end-to-end tests that check basic functionality. Initially, the tests are intended to be used only locally, i.e. not as part of the CI pipeline. At first, the tests will not be fully automated, i.e. require some manual

[2020-09-13 08:45] kalradev commented on #39
Hey @leecalcote,

Can I take this up? This will help me getting started with adapters.

[2020-09-13 11:49] leecalcote commented on #39
@kalradev that's great idea. Even higher priority than this sample app is the addition of [Learn Layer5](https://github.com/layer5io/learn-layer5) as a sample app to be supported by the adapter for Consul. The addition of that application means that the Consul adapter will support SMI conformance testing. Let's get you going on that app.

[2020-09-13 11:51] kalradev commented on #39
Great!!
I will start with adding Learn Layer5.

[2020-09-13 12:11] leecalcote commented on #39
Good deal. The Meshery adapter for Open Service Mesh and the Meshery adapter for Istio both support Learn Layer5 (SMI Conformance) and make for good references.

[2020-09-13 12:59] mgfeller commented on #39
The Consul sample app requires quite a bit of additional setup.
I think it would be good if the code could be refactored before that, towards the Kuma-blueprint. I'll add a couple of issues for that, but started with a set of tests (#94).

[2020-09-14 17:24] mgfeller commented on #94
Expected output of test run:

![image](https://user-images.githubusercontent.com/1214008/93117951-d6bb3180-f6bf-11ea-9d08-66e9084d2eba.png)

[2020-09-15 22:55] jomefavourite commented on #59
I'll like to take this up, but I'm not clear on what to add to the Doc

[2020-09-15 23:12] PluckyPrecious commented on #59
Sure @jomefavourite do go ahead 👍🏽

[2020-09-15 23:25] jomefavourite commented on #59
I guide will be helpful, on what to include into the Document

[2020-09-16 06:07] mgfeller commented on #59
@jomefavourite that's great!

I don't think a guide on what to include into adapter documentation exists (yet).

A couple of thoughts and suggestions:

A good start could be to look at the documentation of the other adapters and related issues, and this one, and consider whether it tells enough to understand the adapters capabilities on both a high level, and a more detailed level. It's good not t

[2020-09-16 07:03] jomefavourite commented on #59
@mgfeller wow that's a lot. I'll see what I can do. Thanks for the briefing

[2020-09-16 07:59] mgfeller commented on #59
All improvements are welcome :+1:

Personally, I think I would have started by including links to Consul Connect homepage, replaced the figures with links and a little bit of text to the original material, and possibly include a list with the mesh install preset (just one for the time being: "Consul Connect: unsecured, 1 server, suitable for local exploration").

[2020-09-20 08:20] mgfeller commented on #59
Hi @jomefavourite, there are some guidelines about documenting adapters here https://docs.google.com/document/d/1b8JAMzr3Rntu7CudRaYv6r6ccACJONAB5t7ISCaPNuA/edit?ts=5f6639df#heading=h.1a405ofum9ao - I forgot about them, sorry. Please let me know if I can help.

[2020-09-20 11:46] jomefavourite commented on #59
I feel this is beyond me, and not really still sure of what to do. Ill unassign myself

[2020-09-20 12:25] mgfeller commented on #59
No problem, @jomefavourite  There are plenty of issues with more detailed descriptions, e.g. https://github.com/layer5io/meshery/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22

[2020-09-20 13:14] jomefavourite commented on #59
Okay thanks

[2020-09-24 02:16] #94 closed

[2020-09-24 02:54] leecalcote opened #96 "[CI] Establish Meshery Edge Release Channel"
**Current Behavior**
See https://github.com/layer5io/meshery/issues/1270 for additional details and the https://github.com/layer5io/meshery/issues/284 epic.

**Desired Behavior**
Implement in the same fashion that has been done in layer5io/meshery repo.

[2020-09-24 02:54] leecalcote commented on #96
@MukulMaheshwari are you able to tackle this one by end of this week? If so, please grab it.

[2020-09-24 23:39] PluckyPrecious commented on #59
Hi @jomefavourite why close this issue? It’s yet to be fixed.

[2020-09-24 23:42] jomefavourite commented on #59
Oh, I'm sorry, I didn't know it closed for everyone. I've been seeing the issue of my dashboard, that's why I closed it.

[2020-09-24 23:55] PluckyPrecious commented on #59
Oh right, it’s fine. 😃

[2020-09-25 00:04] jomefavourite commented on #59
👍

[2020-10-09 17:20] mgfeller opened #98 "[Code] Refactor to use meshery-adapter-library"
**Current Behavior**

This adapter is _not_ using the meshery-adapter-library.

**Desired Behavior**

This adapter is using the meshery-adapter-library.

---
**Resources**

* https://github.com/layer5io/meshery-adapter-library

**Additional Context**

The initial version of meshery-adapter-library has been developed by using code from the kuma adapter and this adapter. The code for this adapter ha

[2020-10-09 17:22] mgfeller commented on #37
Suggest that this is done after #98

[2020-10-09 20:32] leecalcote commented on #98
Excellent. 😀

[2020-10-11 15:24] mgfeller commented on #98
https://github.com/mgfeller/meshery-consul/tree/feature/mgfeller/98

[2020-10-29 14:25] #98 closed

[2020-11-02 06:28] dependabot-preview[bot] opened #102 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/layer5io/update-logs/53074018).

[2020-11-04 18:12] mgfeller opened #103 "[Code] Update to v0.1.0 of meshery-adapter-library"
**Current Behavior**

Current version used is v0.1.0-beta

**Desired Behavior**

Use latest version, v0.1.0.

[2020-11-05 06:28] dependabot-preview[bot] opened #104 "Dependabot wasn't able to update github.com/layer5io/gokit"
The module path `github.com/layer5io/gokit` found in your `go.mod` doesn't match the actual path `github.com/layer5io/meshkit` found in the dependency's `go.mod`.

Updating the module path in your `go.mod` to `github.com/layer5io/meshkit` should resolve this issue.

[View the update logs](https://app.dependabot.com/accounts/layer5io/update-logs/53613350).

[2020-11-05 06:28] #102 closed

[2020-11-05 11:19] #103 closed

[2020-11-06 06:35] #104 closed

[2020-11-06 17:22] mgfeller opened #106 "[SMI] SMI Conformance Testing Support"
**Enhancement Description**

Verify the SMI-compatibility of Consul against the standard suite of compliance tests.

[2020-11-08 14:36] mgfeller commented on #106
Hi @kumarabd, I've had a look at the OSM adapter wrt SMI conformance testing to gain an overview.

If I understand correctly, labels and annotations defined here `osm/smi_conformance.go:12` are for namespaces, and the deployments used in the tests are e.g. `smi-conformance/test-gen/test-yamls/traffic-access/02-install.yaml`.

Is it possible to either specify mesh specific deployments, and/or speci

[2020-11-11 12:03] kumarabd commented on #106
Uhmm if its insisting on pod specific annotations then I'm afraid we don't have that ability at the moment. @leecalcote  Can we discuss over it once before we move forward for consul? Thanks for highlighting @mgfeller

[2020-11-11 17:40] leecalcote commented on #106
@mgfeller will you make a comment in reference to this issue in https://docs.google.com/document/d/1HL8Sk7NSLLj-9PRqoHYVIGyU6fZxUQFotrxbmfFtjwc/edit#?

[2020-11-11 20:34] mgfeller commented on #106
https://docs.google.com/document/d/1HL8Sk7NSLLj-9PRqoHYVIGyU6fZxUQFotrxbmfFtjwc/edit?disco=AAAAKwf2IiE

Consul deployment: https://github.com/layer5io/learn-layer5/blob/master/deploy/k8s-consul.yaml

I should most probably look more closely at SMI and how it is supposed to work _exactly_ :-)

[2020-11-14 13:51] mgfeller opened #110 "[Dependencies] Bump meshkit and meshery-adapter-library versions"
**Description**

* Bump github.com/layer5io/meshkit from 0.1.17 to 0.1.18
* Bump github.com/layer5io/meshery-adapter-library from 0.1.0 to 0.1.3

[2020-11-15 06:06] #110 closed

[2020-11-21 08:51] mgfeller opened #118 "[Dependencies] Bump meshery-adapter-library to 0.1.7, meshkit to 0.1.28"
**Description**

* Bump github.com/layer5io/meshery-adapter-library from 0.1.3 to 0.1.7
* Bump github.com/layer5io/meshkit from 0.1.18 to 0.1.28

[2020-11-28 16:28] mgfeller opened #122 "Update to Go 1.15"
**Description**

Current version is 1.13, update to 1.15.

Test to see how it turns out, what else needs to be updated.

Then, update https://github.com/layer5io/meshery/issues/1991

[2020-12-07 20:55] mgfeller commented on #96
@kushthedude is this issue fixed?

[2020-12-07 21:13] kushthedude commented on #96
Yes

[2020-12-07 21:13] #96 closed

[2020-12-08 12:47] #118 closed

[2020-12-08 18:50] mgfeller commented on #106
- https://github.com/hashicorp/consul-smi-controller
- https://www.hashicorp.com/blog/hashicorp-consul-supports-microsoft-s-new-service-mesh-framework
- https://youtu.be/e5kv9E48Bac
- https://youtu.be/nlg3yiCNmY8
- https://youtu.be/YgFoAdeMooM

[2020-12-08 22:00] #122 closed

[2020-12-11 15:07] mgfeller commented on #106
Copied from Slack conversation, omitting mentions.

**Michael Gfeller Dec 9th at 9:09 PM**
Consul required a controller for SMI (https://github.com/hashicorp/consul-smi-controller).
As far as I can make out, this is still the case. The corresponding repository hasn't been updated in a while, and appears to cover a subset of the spec only.
What is the state and plan for the controller? Does it work

[2020-12-16 18:47] kumarabd opened #130 "Move to distroless image"

[2020-12-16 18:52] mgfeller commented on #130
@kumarabd why is this a bug?

[2020-12-16 18:59] kumarabd commented on #130
@mgfeller  sorry about that. Created in a hurry

[2020-12-17 01:25] leecalcote commented on #130
The same needs done for other adapters. // @Aisuko

[2020-12-17 01:27] Aisuko commented on #130
@leecalcote Any detail?

[2020-12-18 07:36] kumarabd commented on #130
@Aisuko checkout istio adapter dockerfile

[2020-12-23 12:06] Aisuko commented on #37
We already have the chart for `meshery-consul`, we can close the issue https://artifacthub.io/packages/helm/meshery/meshery

[2020-12-23 12:21] mgfeller commented on #37
@Aisuko could you please elaborate? Consul is not deployed using Helm. I planned to work on that as soon as Helm functionality was available in meshery-adapter-library.

[2020-12-23 12:47] mgfeller commented on #37
@Aisuko are you referring to a chart to deploy the `meshery-consul` adapter? This issue is about deploying Consul.

[2020-12-23 14:05] Aisuko commented on #37
@mgfeller You are right. We should reopen the issue. But for my personal experiences, maybe better to choose a more native way,  for example, like `Linkerd2` and `OSM` service-mesh application use `helm.sh/v3` to generate the manifest inside the `pkg` package. But those function I said above were private, that means can not import by other projects.  Related https://github.com/linkerd/linkerd2/dis

[2020-12-23 14:23] mgfeller commented on #37
@Aisuko I was referring to https://github.com/layer5io/meshkit/pull/23 regarding Helm support. Did you see that?

[2020-12-23 14:37] Aisuko commented on #37
@mgfeller For my personal, I'd like to import the service-mesh applications source code `pkg` to render the multiple version manifest of the service-mesh application rather than download the chart, because we need stability, but we do not know if the upstream release new charts with some breaking change like `istio v1.6` can not directly upgrade to `v1.7`(maybe `v1.7` -> `v1.8`). I'd like to maint

[2020-12-23 17:57] mgfeller commented on #37
@Aisuko not quite sure I understand completely, but I agree we need stability. Also, different meshes package and deploy differently, meaning that it is difficult to generalize. Breaking changes and backward compatibility are also handled differently wrt versioning, as you mention, so we have to consider that for each mesh individually.

The Consul Helm charts do not follow the Consul versioning,

[2020-12-24 01:15] Aisuko commented on #37
We would like to handle at least 3 stable versions of the service-mesh applications and the latest version of edge, it's our original plan but it not came true(We can maintain the repo like https://github.com/rancher/system -charts/tree/dev-v2.5/charts/rancher-istio). If I remember right I wrote the documentation but not sure where it saved on. @leecalcote Any detail or need to correct please comm

[2020-12-24 12:56] mgfeller commented on #37
@Aisuko not sure, let's ponder this for a bit. It also means a commitment to maintain that in the future, meaning that we think we have time and contributors to support that.

[2020-12-24 13:16] mgfeller opened #133 "[CI] Incorporate the running of the BATS integration tests in the CI workflow"
**Current Behavior**

Currently, BATS tests can only be run locally, they're not executed as part of the CI-workflow.

**Desired Behavior**

BATS integration tests should be executed as part of  GitHub CI-workflow.

---
**Resources**

* Creating cluster using KinD: https://github.com/layer5io/meshery-linkerd/blob/master/.github/workflows/ci.yml
* There exists a github action that could be used: ht

[2020-12-24 17:43] ramrodo commented on #133
@mgfeller I just working on creating a cluster using KinD in [PR#2139](https://github.com/layer5io/meshery/pull/2139). Once this is merged, we can continue to add the BATS Github Action

[2020-12-26 12:07] mgfeller commented on #133
@ramrodo looking forward to that! Just to avoid misunderstandings, this issue is about extending the CI workflow in this repository, not `meshery`.

[2020-12-26 18:13] ramrodo commented on #133
Thanks for the clarification @mgfeller, I was confused. So, we'll start working on that with this project.

[2020-12-27 14:21] mgfeller commented on #37
This would be quite a commitment.

[2020-12-27 14:26] mgfeller commented on #37
Using this issue to implement installation of Consul 1.9.1 using Helm, changing title of this issue to reflect that.

[2020-12-29 20:47] mgfeller commented on #37
@kumarabd @utkarsh-pro
Using the Helm new functionality in `meshkit`, I apply the Helm chart with custom values file to deploy Consul 1.9.1. Works fine when I run the adapter in-process.

However, when I run it using `mesheryctl`, i.e. as container, it fails with:

[code]

Deploying a manifest works just fine.

Would be nice if you could shed some light on this, I'm at a loss (after some hours try

[2020-12-29 23:43] utkarsh-pro commented on #37
Hi @mgfeller, the fix would be adding the following in the main.go
[code]
We set the env variable here so that it can be dynamic and doesn't have to be hardcoded in the Dockerfile. Fewer things to maintain 🙂.

The reason for the issue: Helm library internally expects this env variable to be available so that it can use kube config internally to communicate with the kubernetes server. In the consul

[2020-12-30 00:43] utkarsh-pro commented on #37
On another thought, I think we should either document that `applyHelmChart` needs kubeconfig env variable to be set or we should make it explicit by making kubeconfig path as a parameter to this function. Any suggestions @mgfeller @kumarabd?

[2020-12-30 02:16] kumarabd commented on #37
@utkarsh-pro possible to set this by default in the library?

[2020-12-30 08:15] mgfeller commented on #37
Hi @utkarsh-pro, thanks for the fine and detailed feedback. It sounds familiar, I think I read about this when I looked into using Helm the first time a couple of months ago. Obviously and unfortunately, I didn't remember that. What confused me (subconsciously :wink: ) is probably that it looks like Helm picked up some information, and all of kubeconfig looks to be passed to Helm...

[2020-12-30 08:37] mgfeller commented on #37
@utkarsh-pro @kumarabd I think it should be documented :+1: regardless of how it is implemented. One sentence or two would be enough (and could have saved a few hours' work). This particular env var is used / required by many tools, so I'm not quite sure making the path an explicit parameter and then defining the env var in the function is the optimal solution.

Setting it in the library might be

[2020-12-30 12:08] mgfeller commented on #37
Another point to consider is what to do if the environment variable already exists. What I did now was to append the new path if the variable already exists, otherwise, test will fail.

[2021-01-10 14:21] #37 closed

[2021-01-15 00:26] ramrodo commented on #133
Hey @mgfeller, I'm executing the e2e tests but they stop at:

[code]

because of this test:

[code]

Have you faced this error on that test before?

Also, if you execute that test on your computer today, does it pass? And if it does, can we have a meet to check that, please?

[2021-01-15 17:08] mgfeller commented on #133
Hey @ramrodo

No, I don't think I've faced this error before, and not today.
I'm running in-process and use minikube.

Yes, of course we can have a meeting.

[2021-01-15 17:31] ramrodo commented on #133
Ok @mgfeller. I'm using KinD for the k8s cluster. Maybe the problem is about the capacity of the cluster. How many master and worker nodes do you have in your minikube cluster? Also, what are the resources/limits of each one in CPU and memory?

[2021-01-15 18:44] mgfeller commented on #133
@ramrodo yes that is possible. `minikube --memory 8192 --cpus 4 start -p meshery2`, just one node on my PC, which has 8 cpu and 32 GB RAM, not quite sure whether minikube honors the start parameter as kubectl reports the capacity of the PC.

[2021-01-18 21:29] ramrodo commented on #133
@mgfeller I found the root cause. I was deploying `HTTPbin` and other applications before running the e2e tests. I didn't know that those tests will create them also.

Now I'm facing errors when the e2e tests deploy `bookinfo` app:

[code]

- Have you seen that `600 Error` before?
- Do I need to configure Istio to be able to deploy that "Istio Book Info" app?

[2021-01-18 23:59] ramrodo commented on #133
@mgfeller NVM, I downloaded the latest changes from this repository and re-kicked the tests in localhost. Now, the tests pass.

[2021-01-19 07:41] mgfeller commented on #133
@ramrodo excellent. I usually run on a pristine kubernetes cluster, to have a well defined and known starting point. apart from that, there are no prerequisites in the cluster.
I've had 600 Errors before, unfortunately, they're just general panic errors that need to be troubleshooted / debugged.

[2021-01-20 16:28] #133 closed

[2021-02-08 07:32] dependabot-preview[bot] opened #144 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/layer5io/update-logs/66720451).

[2021-02-11 06:45] #144 closed

[2021-02-12 06:30] leecalcote opened #146 "Patternfile Support: Adapter Operation Registration in Meshery Server"
**Current Behavior**
Adapter operations are retrieved from Meshery Server using the meshops proto.

**Desired Behavior**
- Implementation of trait definition and workload definitions
- Registration of OAM traits with Meshery Server.

---
**Resources**
See the Meshery and Service Mesh Patterns design spec and the Meshery Architecture deck.

[2021-04-02 22:42] leecalcote opened #147 "[CI] Slack notifier failing (based on use of env var)"
**Description**
The workflow to notify slack on star of a repo is failing. See https://github.com/layer5io/meshery-consul/actions/runs/690457625

**Suggested Solution**
See https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

[2021-04-03 05:13] chinmaym07 commented on #147
@leecalcote sir I want to try this.!

[2021-04-09 20:19] #147 closed

[2021-05-07 07:14] Anita-ihuman opened #153 "[README] Update README Community Section"
**Description**
The Community section in the README says "Access the Community Drive". There is a new procedure of having this automated based on the individual filling in a [community member form](https://layer5.io/newcomer)

**Expected Behavior**
Update "Access Community Drive" to "To Access Community Drive, fill Community Member Form"

**Screenshots**
![img](https://user-images.githubuserconten

[2021-05-16 02:05] cristiangutie commented on #153
Hi! I would like to claim this issue

[2021-05-16 11:50] leecalcote commented on #153
Excellent

[2021-05-16 21:40] #153 closed

[2021-06-16 17:08] kumarabd opened #162 "Upgrade meshkit errors"
**Current Behavior**
Port meshkit errors to the new error utility function. Instructions covered in layer5io/meshkit#48
---
**Resources**

**Alternatives / Additional Context**

[2021-06-16 17:08] kumarabd opened #163 "Upgrade meshkit error"
**Current Behavior**
Port meshkit errors to the new error utility function. Instructions covered here, layer5io/meshkit#48

---
**Resources**

**Alternatives / Additional Context**

[2021-06-16 19:20] leecalcote commented on #163
@kumarabd are you looking for contributors on this? If so, it'll need a better description of the work to be done.

[2021-06-23 15:03] amino19 opened #165 "[README] Need to fix Slack badge"
**Description**

<a href="https://github.com/layer5io/meshery-consul/blob/master/README.md">README.md</a> is the first file one should read when starting a new project. For attractive look, we added some badges also.
But, there's a Slack badge failing, need to fix that.

### Example Screenshot

**Current Behavior**

![image](https://user-images.githubusercontent.com/75872316/122434243-8d807100-cfb

[2021-06-24 18:03] mgfeller commented on #162
duplicate of #163

[2021-06-24 18:03] #162 closed

[2021-06-25 16:24] amino19 opened #166 "[README] Need to add `Community Forum`"
**Description**

<a href="https://github.com/layer5io/meshery-consul/blob/master/README.md">README.md</a> is the first file one should read when starting a new project. Our community launched `Discussion forum` for help seekers; needs to publish it officially on README.md for convenience.

### Screenshots

**Current behaviour:**
![image](https://user-images.githubusercontent.com/75872316/123441080

[2021-07-04 13:06] #163 closed

[2021-07-04 15:10] pablochocobae commented on #165
Hey @amino19, Can I work on this issue?

[2021-07-04 16:08] ghulamyazdani commented on #166
Hey @amino19, Can I work on this issue?

[2021-07-04 16:09] pablochocobae commented on #165
Hey @amino19, I have created a Pull Request here (https://github.com/meshery/meshery-consul/pull/174)

[2021-07-04 16:10] amino19 commented on #166
@ghulamyazdani : Here you go! :rocket:

[2021-07-04 22:46] #165 closed

[2021-07-09 07:41] mgfeller commented on #106
Consul 1.10 is out (https://www.consul.io/docs/release-notes/1-10-0), now supporting transparent proxies. Once this version is supported in the adapter, we could have a look at this issue again.

[2021-07-13 17:32] sayantan1413 opened #178 "[CI] Patterns: Generate JSON Schema and Definitions for CONSUL components"
**Enhancement Description**

To generate the workflow of getting the manifest from the CONSUL using the [kubeopenapi-jsonschema](https://github.com/layer5io/kubeopenapi-jsonschema) to read and generate json schemas from those manifests and then also generating workload definitions from those schemas.

A sample workflow is [here](https://github.com/DelusionalOptimist/meshery-istio/blob/gen-oam/.git

[2021-07-22 14:51] DelusionalOptimist opened #179 "[CI] add error codes utility runner workflow"
**Current Behaviour**
Error codes utility runner workflow is not present.

**Desired Behavious**
Add the error codes utility runner workflow.

**Instructions in https://github.com/meshery/meshery-linkerd/issues/213**

[2021-07-23 07:38] iamsdas commented on #179
I'd like to take up this issue

[2021-07-23 08:15] amino19 commented on #179
@iamsdas : Here you go! :rocket:

[2021-07-26 18:29] #179 closed

[2021-07-30 23:41] #166 closed

[2021-08-05 21:58] DelusionalOptimist opened #185 "make install operation compliant with SMP protos"
**Background**
We're trying to enforce SMP protos wherever possible in all the adapters so as to ensure there is only a single source of truth. This is really helpful for maintaining multiple clients efficiently (i.e Meshery UI and mesheryctl).

**Current Behavior**
The adapter has 2 keys specifying Consul installation operation. https://github.com/meshery/meshery-consul/blob/beb7f5a3f101cf4641065

[2021-08-05 21:58] DelusionalOptimist commented on #185
@mgfeller thoughts?

[2021-08-22 17:00] mgfeller commented on #185
@DelusionalOptimist I had a look (finally) and compared to the Linkerd code. I see the point of using SMP protos, of course.
Is there a design document or similar that documents how `adapter.Operation` and specifically its fields are intended to be used?

In the Consul adapter, `templates` and `AdditionalProperties` are different for each version. How would that be handled if following the Linkerd

[2021-08-23 22:51] DelusionalOptimist commented on #185
@mgfeller there is the meshery-adapters spec (look whom I'm pointing to it XD) but I doubt its depth covers this.

Hmmm... I see versions are hard coded. There is no way to install a version other than the two specified. We'll also need to support installing consul based on GH tag or a different version.

I think we're mainly using `additionalProperties` for storing info on helm charts to use? If

[2021-08-24 19:56] mgfeller commented on #185
@DelusionalOptimist it got quite a bit clearer after today's meeting :+1:

v1.8.2 is not special, when I upgraded the adapter to support this version, there was no `meshery-adapter-library`, no `meshkit`, and thus no Helm-support in Meshery. v1.9.1 was implement when all of that was in place, and I didn't prioritize changing the installation method of v1.8.2 to Helm. Current Consul version is 1.10

[2021-08-25 06:27] mgfeller commented on #185
@DelusionalOptimist it got quite a bit clearer after today's meeting :+1:

v1.8.2 is not special, when I upgraded the adapter to support this version, there was no `meshery-adapter-library`, no `meshkit`, and thus no Helm-support in Meshery. v1.9.1 was implement when all of that was in place, and I didn't prioritize changing the installation method of v1.8.2 to Helm. Current Consul version is 1.10

[2021-08-25 07:09] DelusionalOptimist commented on #185
Nice!! Thanks for being on the call :raised_hands:

intended to be used, and the assumptions behind them. Note to self as well, of course smile

Yes it would. I'll make sure we have a section regarding this in the spec :smile:

Sounds good : )

[2021-08-25 07:29] DelusionalOptimist commented on #185
Yes @mgfeller, I agree. Testing adapters is something we need to lay more emphasis on as we add new
functionality.

Other than running tests daily, one thing to do at build time might be modifying the workflow which generates components to also take care of running tests to ensure that any of those generated components are not faulty and if so, they're not committed.

Other than this we would also

[2021-08-28 12:30] mgfeller opened #188 "[bug] Incorporate Adapter Version # at buildtime"
**Description**

build-args `main.version=$VERSION `and `main.gitsha=$GIT_COMMITSHA`  are not being picked up.

**Expected Behavior**

when testing locally e.g. building using
`GOPROXY=direct GOSUMDB=off go build -ldflags="-w -s -X main.version=VERSION -X main.gitsha=GIT_COMMITSHA" -a -o ./meshery-consul .`

and running `./meshery-consul`

expected result of `grpcurl --plaintext 127.0.0.1:10002 me

[2021-08-28 18:57] DelusionalOptimist commented on #185
Yes, precisely.

Ooh... yes, makes much sense :heavy_check_mark:

[2021-08-29 10:50] #188 closed

[2021-09-17 12:12] amino19 opened #194 "[CI] add label commenter workflow"
**Description:**

This repository should have the label commenter workflow.
It would run whenever an issue/pr is labelled with one of the targeted labels and comment down any relevant information.

**Contributor Reference:**

The workflow would use: https://github.com/peaceiris/actions-label-commenter

A sample workflow is defined in: https://github.com/meshery/meshery/blob/master/.github/workflow

[2021-10-07 18:03] warunicorn19 commented on #194
@CypherpunkSamurai sure!

[2021-10-07 19:10] amino19 commented on #194
heya @CypherpunkSamurai, here's a [reference](https://github.com/service-mesh-performance/service-mesh-performance/pull/241).

1. Yes, this repository doesn't have `label-commenter.yml` inside workflows, so doesn't have config as well!
2. If any label you doesn't found here as dealing at [meshery](https://github.com/meshery/meshery/blob/master/.github/label-commenter-config.yml), _(absence here)_,

[2021-10-08 02:48] Shreyas220 opened #201 "Error while installing consul v1.9.1 and v1.8.2"
#### Current Behavior

Currently, we are not able to install consul service mesh using the adapter, here are the logs
[code]
 The error is
`
Error applying operation.unable to build kubernetes objects from release manifest: unable to recognize \"\": no matches for kind \"CustomResourceDefinition\" in version \"apiextensions.k8s.io/v1beta1\""
`
#### Screenshots/Logs

![image](https://user-images.gi

[2021-10-09 13:38] #194 closed

[2021-10-18 19:54] leecalcote opened #206 "[Bug] Adapter fails to run in latest edge release"
#### Current Behavior
Adapter fails to run.

#### Screenshots/Logs
[code]

#### Environment

- **Host OS:** Mac
- **Platform:** Kubernetes
- **Meshery Server Version:** edge-latest
- **Meshery Client Version:** stable-v0.5.66
- **Meshery Adapter Version:** edge-latest

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](h

[2021-10-18 21:36] #206 closed, assigned to Revolyssup

[2021-10-19 19:54] #178 closed

[2021-10-25 19:00] mgfeller opened #209 "[Bug] Fix golangci-lint G107: Potential HTTP request made with variable url (gosec)"
#### Current Behavior

[code]
#### Expected Behavior

`golangci-lint` should never fail. If a violation is acceptable, the code should be annotated so that the linter ignores it.

[2021-10-26 02:24] #209 closed, assigned to mgfeller

[2021-11-06 16:02] ShervinPlays opened #213 "[Docs]"
**Current State:**

**Desired State:**

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/meshery/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md#documentation-contribution-flow)

[2021-11-06 20:16] leecalcote commented on #213
Is there any additional detail that you would like to add to this issue, @ShervinPlays?

[2021-12-13 18:39] cpepper96 opened #217 "[CI] Update Slack.yml and add newcomer-alert workflow"
**Current Behavior**
Currently the slack.yml is outdated. Also there is no automated way of notifying the slack channel when a "good first issue" has been created.

**Desired Behavior**
Update slack.yml and add newcomer-alert.yml to the Github workflow.

---
**Resources**
Add the updated slack.yml file and the newcomer-alert.yml file to the .github/workflow folder.

Files needed:
https://github.co

[2021-12-17 07:52] Swapnil-Bhabal opened #218 "[Docs]The updation of shields is needed in README.md"
**Current State:**
Small updation of shields in README.md

![image](https://user-images.githubusercontent.com/61308713/146508649-7e5fa708-dcee-46bd-8144-71bdf2c71704.png)

**Desired State:**
This is how it should look like
![image](https://user-images.githubusercontent.com/61308713/146508697-71e7b202-f026-4450-8990-77851eb7da6e.png)

updation should be done in this README.md by keeping the shield

[2021-12-20 13:57] msaini0r commented on #218
@Swapnil-Bhabal I would like to work on this.

[2021-12-21 11:24] msaini0r commented on #217
@cpepper96 can you review this, please.

[2021-12-21 11:38] msaini0r commented on #217
@cpepper96 I tried updating these both, but I don't know the tests are failing. Can you help me?

[2021-12-21 18:03] shivaylamba opened #224 "[Docs] Incorrect URL in the Github Repository for docs"
**Current State:**

![image](https://user-images.githubusercontent.com/19529592/146976981-63f41dcb-b133-4423-957c-953bb2f3000a.png)
Incorrect URL in the Github Repository for docs
**Desired State:**

Correct url to be posted.
---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/meshery/meshery/tree/master/docs)
-

[2021-12-22 17:53] cpepper96 commented on #217
@msaini0r so it looks like your last PR passed all tests. The only thing I can think of is you might want to do two separate PR's for updating the shields and slack/newcomer yml. Did you close the PR or did someone else?

[2021-12-22 18:29] #217 closed

[2021-12-22 18:43] msaini0r commented on #218
@leecalcote We can close this issue now. Because I have solved this issue in another pr which already has been merged.

[2021-12-22 18:52] #218 closed

[2022-01-01 21:48] leecalcote commented on #224
Thank you for reporting this, @shivaylamba 👍

[2022-01-01 21:49] leecalcote commented on #224
Link updated. ✔️

[2022-01-01 21:49] #224 closed

[2022-01-02 06:27] IMPranshu opened #226 ""Management" should be changed to "Lifecycle" in the instructions."
#### Current Behavior

The instructions seem to be wrong as there is no "Management" option to choose from as specified in the instructions.
#### Expected Behavior

Management should change to Lifecycle. There are many instances where an update of the instruction is required.

#### Screenshots/Logs
![Screenshot (226)_LI](https://user-images.githubusercontent.com/43396684/147867955-c25a8c52-4a99-41

[2022-01-02 06:49] asubedy commented on #226
Thank you @IMPranshu. Will you work on solving this issue?

[2022-01-02 07:38] IMPranshu commented on #226
Yes absolutely

[2022-01-02 07:41] asubedy commented on #226
Sure, here you go 🚀

[2022-01-02 07:41] IMPranshu commented on #226
Thank you for the opportunity. Will try and solve this and others too.

[2022-01-02 07:54] asubedy commented on #226
@IMPranshu, I just noticed you have opened this issue on a different repository. Could you please open this issue at the [service-mesh-labs repository](https://github.com/layer5io/service-mesh-labs)

The service-mesh-labs repo would be the one where you will be able to edit the instructions. Thank you. I will be closing this issue here.

[2022-01-02 07:54] #226 closed

[2022-01-02 08:14] IMPranshu commented on #226
Ok, sure.

[2022-01-18 23:06] warunicorn19 commented on #213
Issue seems stale with no details. Closing, for now, @ShervinPlays please feel free to reopen.

[2022-01-18 23:06] #213 closed

[2022-01-24 20:00] leecalcote opened #236 "[CI] Displace BATS tests"
At this point, we have abandoned the BATS test in favor of the new style integration tests. It's time to remove / replace those BATS tests.

_Originally posted by @leecalcote in https://github.com/meshery/meshery-consul/issues/235#issuecomment-1020489954_

[2022-03-11 23:06] leecalcote commented on #236
@Revolyssup how's this coming along?

[2022-03-11 23:07] leecalcote opened #243 "Update to Meshery-adapter-library v0.5.2"
#### Current Behavior
While updating this dependency, errors occurred.

#### Screenshots/Logs
[code]

#

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md

[2022-03-13 21:12] Revolyssup commented on #243
@leecalcote  this is due to older meshkit. Meshkit and adapter-library need to be updated together

[2022-03-14 04:17] leecalcote commented on #243
Oh, I see. Ok that makes sense.

[2022-03-14 04:17] #243 closed

[2022-03-25 15:44] Zanda256 opened #249 "Add end-to-end tests using service-mesh-pattern file"
#### Current Behavior
Currently e2e tests in the adapter only run tests for vanilla service mesh installation and for addons.

#### Desired Behavior
The link below is of an example patternfile that should also be deployed and assertions should be made.
https://github.com/service-mesh-patterns/service-mesh-patterns/blob/master/samples/minimalistiobookinfo.yaml

#### Implementation

#### Acceptance

[2022-03-30 21:32] leecalcote opened #250 "[CI] Support multi-platform Docker images"
#### Desired Behavior
Meshery users, particularly those running Docker Desktop can benefit from multi-platform images of Meshery Server.

#### Implementation
Refactor existing stable and edge build and release workflows to use `docker-build-push` actions. See https://github.com/meshery/meshery/blob/master/.github/workflows/build-and-release-dde.yml as an example.

Be aware of local binaries and th

[2022-04-13 18:52] leecalcote commented on #250
New `multi-platform.yaml` workflow put into place. ARM images are now built and pushed.

[2022-04-13 18:52] #250 closed

[2022-04-18 11:39] Revolyssup commented on #236
https://github.com/meshery/meshery-consul/pull/256

[2022-04-25 19:11] leecalcote opened #261 "Could not create a pathset for static component generation"
#### Current Behavior

[code]

#### Environment

- **Host OS:** Mac
- **Platform:** Local
- **Meshery Server Version:** stable-v0.6.0-rc.5p
- **Meshery Client Version:** stable-v
- **Meshery Adapter Version:** stable-v

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)

[2022-05-04 16:49] cpepper96 opened #262 "[CI] update go version in ci.yml"
#### Current Behavior
All meshery adapters use go version 1.17 now, the ci.yml file needs to be updated to reflect this.

#### Desired Behavior
Update the go version to 1.17 in the ci.yml file.

#### Implementation
You can find the outdated version [here](https://github.com/meshery/meshery-consul/blob/78da7fb74a2c5f1b112dd001239b692951e6bc38/.github/workflows/ci.yml#L46), update to 1.17.
#### Acce

[2022-05-04 17:04] Nik-09 commented on #262
Hi, @cpepper96 can you please assign this issue to me?
Thank you.

[2022-05-04 17:05] durbi009 commented on #262
I'd like to get started with Meshery! Please assign this issue to me @cpepper96
Thank you

[2022-05-04 17:08] cpepper96 commented on #262
@durbi009 👍

[2022-05-04 17:56] #236 closed

[2022-05-04 17:57] leecalcote commented on #262
excellent!

[2022-05-07 07:33] aman-raza commented on #262
Hey, @cpepper96  I want to work on this issue,
If this is still open, please assign this to me
Thank you

[2022-05-07 12:20] leecalcote commented on #262
@durbi009 are you working on this issue?

[2022-05-08 14:37] aman-raza commented on #262
I guess he is inactive

[2022-05-10 11:11] Revolyssup commented on #262
This workflow has been removed and has to be replaced

[2022-05-10 11:11] #262 closed

[2022-05-10 13:10] Revolyssup opened #264 "Enhance build, lint and security checks in workflow"
#### Current Behavior

Currently we have a lint-build.yaml which only performs lint checks and tries to build the adapter. [this](https://github.com/meshery/meshery-consul/blob/master/.github/workflows/lint-build.yml)
#### Desired Behavior

We need other checks as well. Refer to [this one in istio adapter](https://github.com/meshery/meshery-istio/blob/master/.github/workflows/ci.yml)
#### Implemen

[2022-05-10 13:13] yash37158 commented on #264
Please assign it to me

[2022-05-10 13:14] yash37158 commented on #264
I would like to work on this issue

[2022-05-11 03:54] yash37158 commented on #264
Thanks, I have one doubt, how to set up project in our local machine.

On Tue, May 10, 2022 at 6:46 PM Ashish Tiwari ***@***.***>
wrote:

[2022-05-11 03:58] leecalcote commented on #264
@yash37158, here you are - https://docs.meshery.io/project/contributing. Until you're building the project, I'll free your assignment from this issue so that other can carry it forward in the meantime.

[2022-05-11 04:02] karnatisrinivas commented on #264
Hello @leecalcote , Can I would like to give it a try.

[2022-05-11 04:03] leecalcote commented on #264
Sounds great, @karnatisrinivas

[2022-05-12 15:17] #264 closed

[2022-05-25 16:36] leecalcote commented on #261
@Revolyssup I'm still seeing this error.

[2022-06-08 07:09] Revolyssup opened #274 "Permission issue in container"
#### Current Behavior

`mkdir /home/appuser/templates/oam/workloads/v0.44.0: permission denied`
#### Expected Behavior

Dockerfile should be improved to avoid such permission issue
#### Screenshots/Logs

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Version:** stable-v
- **Meshery Client Version:** stable-v
- **Meshery Adapter Version:**

[2022-07-14 12:07] lumenCodes commented on #274
Hi @Revolyssup I am a first time contributor  and I don't have experience with docker. I don't know if this issue is something I can work on with maybe a few guidelines on how to go about it.

[2022-07-16 14:28] lumenCodes commented on #274
Okay, thanks.

I will revert with my findings.

[2022-08-21 20:02] AugustasV opened #296 "CrashLoopBackOff while deploying meshery-consul"
#### Current Behavior

meshery-consul deployed to k8s throwing image CrashLoopBackOff error
[code]
[code]
same error appears than running and building locally too.
#### Expected Behavior

Pod deployed and running properly
#### Environment

- **Host OS:** Mac m1
- **Platform:** Kubernetes 1.24
- **Meshery Server Version:** stable-v0.6.0-rc.6fd
- **Meshery Client Version:**
- **Meshery Adapter Versi

[2022-09-16 20:38] acald-creator opened #307 "[Refactor] Update OpenTelemetry (dependent on meshery-adapter-library)"
#### Current Behavior

This issue is a blocker based on https://github.com/meshery/meshery-adapter-library/issues/92

After running `trivy` on the latest local Docker, here is the result from the scan.

[code]

#### Desired Behavior

Should be able to upgrade `github.com/apache/thrift` from `v0.13.0` to `v0.14.0`.

Wasn't able to due to this error:

[code]

Which caused it to not run as expected.

[2022-09-16 21:20] acald-creator commented on #261
@leecalcote Do you still see this issue?

I didn't see this when I was updating this repo to 1.19

[2022-09-17 14:34] acald-creator opened #309 "[Refactor] Consul Helm Charts"
#### Current Behavior

From previous issues, Consul seems to have had problems via deployments.

However, Consul has deprecated this chart and have migrated to a new location
- https://github.com/hashicorp/consul-k8s/tree/main/charts/consul

There is also a recent issue opened pertaining to changes to Consul Connect.
- https://github.com/hashicorp/consul-k8s/issues/1438

#### Desired Behavior

We

[2022-09-25 22:35] acald-creator opened #310 "[CI] Update and enhance CI workflows"
#### Current Behavior
Some of the workflows are not consistent in titles and versioning. Some of the actions are using an earlier versions such as `actions/setup-go@v1` while others are using either latest or the previous versions.

#### Desired Behavior
Just a simple clean up to enhance the GitHub Actions workflow and ensure that everything is up to date and running smoothly.

#### Implementation

[2022-09-25 22:48] #310 closed

[2022-09-27 09:46] #249 closed

[2022-09-28 07:52] legendarykamal opened #313 "[Readme] Consistently present Meshery logo"
#### Current State

The logo in the readme is not consistent with the one in meshery/meshery repo make it consistent :)

#### Desired State

Also check it even in the dark mode , make sure its consistent.

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📝 [Meshery Adapters Spreadsheet](https://docs.google.com/spreadsheets/d/1rGGpSXC68iDJzNRU-qZIRQsZUwkt

[2022-09-28 07:54] legendarykamal commented on #313
adding -> meshery's logo is bigger in size in this readme.

[2022-09-28 10:19] nishantn31 commented on #313
Can I work on this?

[2022-10-12 01:35] #313 closed

[2022-10-12 02:18] legendarykamal opened #323 "[Readme] Redirect to the right place needed."
#### Current Behavior

Currently, Both the logos in the readme redirect to wrong places.
![image](https://user-images.githubusercontent.com/95926324/195233280-8a661857-7126-4097-9229-ae79c5dedcdd.png)

#### Expected Behavior

Their hyperlinks should be interchanged.
#### Screenshots/Logs

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Ver

[2022-10-13 16:54] #323 closed

[2022-10-13 17:11] legendarykamal commented on #309
hey @acald-creator can we discuss this , I would like to extend my hand in completing this task.

[2022-11-08 16:48] acald-creator opened #330 "[Lint] Refactor `.golangci.yml`"
#### Current Behavior
Sometimes when I run `golangci-lint`, there are inaccurate or incomplete report of the things that could be enhance in the Go files.

#### Desired Behavior
Would like to propose to update the `.golangci.yml` file to latest and remove deprecated checks, and add new checks if there are any available.

#### Implementation
I will be submitting a PR with a newer `.golangci.yml` co

[2022-11-09 16:41] leecalcote commented on #330
Sounds like a great plan to me. ✔️